<html>
    <head></head>
    <body>
        <p>{{ name }},</p>
        <p>Please click on the link below to reset your password.</p>
        <p><a href="{{ url("resetPassword", { 'code' : code })}}">Reset Password</a></p>
    </body>
</html>