<html>
    <head></head>
    <body>
        <p>{{ name }},</p>
        <p>Welcome to the new Maclay School Community Service System. Below are your login credentials:</p>
        <p>Username: {{ username }} <br />Password: {{ password }}</p>
        <p>Click <a href="{{ url('maclay_service_login') }}">here</a> to access your account</p>
    </body>
</html>