vendor/leafo/lessphp/

app/cache/

web/bundles/sensiodistribution

web/bundles/maclayservice

web/bundles/framework

src/FOS
*.log

app/logs/dev.log

.metadata

*.log

app/logs/prod.log

vendor/ircmaxell/password-compat/
