{% extends 'MaclayServiceBundle:Profile:profile.html.twig' %}


{% block pagename %}
    Admin Profile - Upload Students
{% endblock %}
    
{% block usercontent %}
    <p>{{error}}</p>
    {% if newUsers %}
        <form action="{{ path('default', {'controller' : 'Admin', 'action' : 'UploadStudents'}) }}" method="POST"  enctype="multipart/form-data">
            <input type="file" name="uploadedUsers"/>
            <input type="submit" />
        </form>
    {% endif %}

{% endblock %}