<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Maclay Community Serivce{% endblock %}</title>
        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrapjs' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block styles %}
            {% stylesheets 'bundles/maclayservice/css/live/*' 'bundles/maclayservice/css/custom/*' filter="cssrewrite" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="titlebar" >
                <p>Test</p>
            </div>
        </div>
        
    </body>
</html>
