<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Maclay Community Serivce{% endblock %}</title>
        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrapjs' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block styles %}
            {% stylesheets 'bundles/maclayservice/css/live/*' 'bundles/maclayservice/css/custom/*' filter="cssrewrite" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="blue">
        <header>
            {{ render(controller('MaclayServiceBundle:Layout:titlebar')) }}
        </header>
        <div id="content-container">
            <div class="container">
                {% block header %}
                <br />
                    <h1>Maclay Community Service</h1>
                {% endblock %}
                <hr />
                <h3>{%block pagename%}{%endblock%}</h3>
                <br />
                <div class="row" id="mainRow">
                    {% block nav %}
                    {% endblock %}
                    {% block content %}
                        {% block fos_user_content %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="full">
            <br />
            <p class="text-center login-text">Created by Daniel Becker</p>
        </footer>
    </body>
</html>
