<div class="col-sm-3 nav">
    <ul>
        <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'RecordSummary'}) }}">Record Summary</a></h4></li>
        <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'NewRecord'}) }}">Enter New Record</a></h4></li>
        <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'RecordHistory'}) }}">History</a></h4></li}
    </ul>
</div>
