<div class="col-sm-3 nav">
    <ul>
        <li><h4><a>Record Summary</a></h4></li>
        <li><h4><a href="{{ path("record_new") }}">Enter New Record</a></h4></li>
        <li><h4><a>History</a></h4></li>
    </ul>
</div>
