<div class="partial-header">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p> Welcome {{ app.user.username }}! |
        <a href="{{ path('fos_user_security_logout') }}">Log Out</a>
    {% else %}
        <a href="{{ path('maclay_service_login') }}">{{ 'Click here to log in'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>