{% extends '::layout.html.twig' %}

{% block nav %}
    {{ render(controller('MaclayServiceBundle:Layout:nav')) }}
{% endblock %}

{% block content %}
    <div class="col-sm-9">
        <br />
        {% block usercontent %}
        {% endblock %}
    </div>
{% endblock %}
