{% extends '::layout.html.twig' %}

{% block nav %}
    {{ render(controller('MaclayServiceBundle:Layout:studentnav')) }}
{% endblock %}

{% block content %}
    <div class="col-sm-9">

    </div>
{% endblock %}
