{% extends '::layout.html.twig' %}

{% block nav %}
    {{ render(controller('MaclayServiceBundle:Layout:studentnav')) }}
{% endblock %}

{% block pagename %}Student Profile{% endblock %}

{% block content %}
    <div class="col-sm-9">
        <br />
        {% block studentcontent %}
        {% endblock %}
    </div>
{% endblock %}
