{% extends 'MaclayServiceBundle:Profile:studentProfile.html.twig' %}

{% block pagename %}
    {{parent()}} - Record Summary
{% endblock %}

{% block studentcontent %}
    <h3>Hello There</h3>

{% endblock %}
