{% extends '::layout.html.twig' %}

{% block title %}Maclay Service Login Page{% endblock %}

{% block pagename %}Login{% endblock %}

{% block content %}

<div class="col-sm-offset-4">
    {% render controller("FOSUserBundle:Security:login") %}
</div>
{% endblock %}